<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.classconnect.classconnect" >

    <!-- To access facebookAPIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To access parse-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" /> &lt;!&ndash; To retrieve the account name (email) as part of sign-in: &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> &lt;!&ndash; To auto-complete the email text field in the login form with the user's emails &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppThemeLogin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <!--<meta-data-->
            <!--android:name="com.parse.APPLICATION_ID"-->
            <!--android:value="@string/parse_app_id" />-->
        <!--<meta-data-->
            <!--android:name="com.parse.CLIENT_KEY"-->
            <!--android:value="@string/parse_client_key" />-->

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="k7YVA7DtgScU7yEaiHgRwGNJchMJORGGVvCMls4y" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="yBokREInuQ1b9mexkgWbRpAOcaeJhfOTeqsgZxze" />

        <activity
            android:name=".ClassEnterActivity"
            android:label="@string/title_activity_class_enter"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeCompact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.classconnect.classconnect.MainActivity" />
        </activity>
    </application>

</manifest>
